@CHARSET "ISO-8859-1";
body {
background-image: url(bkgnd.jpg); /*You will specify your image path here.*/

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}

p,a {
    font-family: "Georgia";
    font-size: 30px;
    font-weight: bold;
    color:white;
} 

input[type=submit] {
    padding:5px 15px; 
    background:#fff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}